
.post{
    width: 500px;
    height: 750px; ;
    background: white;
    margin: auto;
    border: 3px solid green;
    margin-top: 100px;
}
.post-header{
    padding: 10px;
    border: 3px solid red;
}

.logo{
    padding-right: 5px;
    padding-top: 10px;
}
H4{
    margin: 0;
}
p{
    margin: 0;
}

.dots{
    float: right;
    padding-left: 370px;
    padding-top: 10px;
}
.post-img{
    height: 500px;
}
.post-body{
    height: 182px;
    border: 3px solid red;
}
.post-icons{
    display: flex;
    padding: 10px;
}
.right-icon{
    margin-inline-start: 380px;
}
.caption{
    padding: 10px;
}